.main-bg{
    background-image: url(../img/main-svg-bg.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.white-bg{
    background-color: var(--white);
    color: var(--primary-color)
}

.main-content{
    max-width: 60rem;
    margin: 0 auto;
    padding: var(--gap);
    /* background-color: var(--cinza-claro); */
}

.menu-spacing{
    height: 120px;
}

.oqfazemos-content{
    color: black;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    padding: 0 var(--gap);
    padding-top: var(--gap);
    /* justify-content: center; */
    /* max-width: 80rem; */
    text-align: center;
}