:root{
    --primary-color: white;
    --white: white;
    --black: black;
    --cinza-claro: #eee3ee;
    --gap: 3rem;
}

*{
    margin: 0;
    padding: 0;
}

html {
    /*  */
    font-size: 62.5%; 

}

h1, h2, h3, h4, h5, h6{ /* colocando a letra para os h como montserrat */
    font-family: 'Montserrat', sans-serif;
}

body{

    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}
/*  */
h1{
    font-size: 6rem; /* colocando em 8px*/
    text-transform: uppercase; /* colocando tudo maiusculo */
}
/* estilizacao de todas as letras do site */
a{
    text-decoration: none;
    color: var(--primary-color);
}

.main-bg{
    background-size: cover;
    background-position: center center;
    background-color: white;
}

.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
    background-color: var(--white);
}

.section{
    min-height: 100vh;
    background: greenyellow;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* linha abaixo do nav */
    border-bottom: 0.2rem solid var(--cinza-claro);
    background-color: var(--white);
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--gap);
    padding-top: 0;
    padding-bottom: 0;
}
/* tamanho dos links de navegacao */
.menu h1{
    font-size: 3rem;
    color:var(white)
}
/* cor do amorosa no inicio */
.menu h1 a{
    color: var(--black); /* ou inherit */
    text-decoration: none;

}
/* uls */
.menu ul{
    list-style: none;
    display: flex;
}
/* letras da ul */
.menu ul li a{
    display: block;
    padding: 2rem;
    color: black;
    font-size: 2rem;
    position: relative;
}
/* borda embaixo das opcoes de nav */
.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: crimson;
    transition: all 0.3s ease-in-out;
}
/* efeito */
.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}