estrutura_de_dados/teste/comparacoes-algoritmos-ordenacao/
internet_2/flask/flask-env/.vscode/
internet_2/flask/flask-env/include/
internet_2/flask/flask-env/Lib/
internet_2/flask/flask-env/Scripts/
*.env   
*pyenv.cfg

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

jogos/
