.estrutura_de_dados/teste/comparacoes-algoritmos-ordenacao
.internet_2/flash/flask-env/Lib/
.internet_2/flash/flask-env/include
.internet_2/flash/flask-env/.vscode
.internet_2/flash/flask-env/Scripts
