estrutura_de_dados/teste/comparacoes-algoritmos-ordenacao/
internet_2/flask/flask-env/.vscode/
internet_2/flask/flask-env/include/
internet_2/flask/flask-env/Lib/
internet_2/flask/flask-env/Scripts/
*.env   
*pyenv.cfg