*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color:grey;

}

.container{
    max-width: 1200px;
    margin: auto;

}

header{
    padding:60px;
    text-align: center;
    background-color:black ;
    color: antiquewhite;
    
}

header p{
    color: turquoise;
}
nav{
    background-color: mediumaquamarine;  
    position: sticky;
    top:0;
    background-color: #37718e ;
    height: 50px ;
    background: linear-gradient(135deg,#05b8cf,#530d96);
    animation-duration: 1.5s;
    animation-name: nav;
}

nav > a{
    display: none;
}
/* formatação da naavegação */
nav div{
    /* background-color: #333; */
    background: linear-gradient(135deg,#05b8cf,#530d96);
    display: flex;
    justify-content: space-around;

}

nav a:any-link{
    color:whitesmoke;
    padding: 15px 20px;
    text-decoration: none;
}

nav a:hover{
    color: black;
    background-color: turquoise;
}

/* formatacao do corpo */
img{
    max-width: 100%;
}

.row{
    display:flex;

}

aside{
    flex-basis: 30%;
    background-color:rgb(255, 210, 152);
    padding:40px;
}

main{
    flex-basis: 70%;
    padding:40px;
    background-color: rgb(255, 243, 236);
}

footer{
    padding: 1px;
    background-color: black;
    color:turquoise;
    text-align: center;
}

#close{
    display: none;
}

/* para telas pequenas */
@media screen and (max-width:650px) {
.row{
    flex-direction: column-reverse;
}

nav{
    flex-direction: column;
    /* flex-direction: column-reverse;  */
    position: sticky;
    top: 0;
}

nav > a{
    display: block;
    text-align: center;
    font-weight: bold;
}
 
nav div{
    flex-direction: column;
    text-align: center;
    transform: translateX(-100%);
    width: 100%;
    position: absolute;
    transition: transform 1s;
}
 
#nav:target{
    transform: translateX(0);
}

#nav:target div{
    transform: translateX(0);
}

header{
    padding: 1px;
}    
/* esconde os <a> filgos direto de nav quando target */
#nav:target > a{
    display: none;
}

nav:hover div {
    background-color: black;
}
/* exibe o #close quando #nav for target */
#nav:target #close{
    display: block;
}
}