
body {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
h1{
    color: navy;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}