{% extends "base.html" %}

{% block title %}Sign Up{%endblock %}

{% block content %}

    <form method="POST">
        <h3 align="center">Cadastro</h3>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email">
        </div>

        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome"> 
        </div>

        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha"> 
        </div>

        <div class="form-group">
            <label for="senha2">Confirme sua Senha</label>
            <input type="password" class="form-control" id="senha2" name="senha2" placeholder="Confirme sua senha"> 
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
        
    </form>

{% endblock %}